.tabela-padrao td {
    background-color: #424250;
    padding: 5px;
    color: #ffffff;
}

.tabela-padrao th {
    padding: 5px;
    color: #ffffff;
}

.tabela-moda {
    background-color: #bb86fc;
}

.tabela-casa {
    background-color: #00c4b4;
}